{% extends 'layout.html' %}

{% block head_title %}Inicio{% endblock %}

{% block body%}
<div class="container">
    {% if current_user.is_authenticated %}
    <div class="mb-4 text-right">
        <a href="{{ url_for('new_post') }}" class="btn btn-primary">Nueva Publicacion</a>
    </div>
    {% endif %}
    
    {% for post in posts %}
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title"><a href="{{ url_for('post_detail', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="text-muted">Publicado por {{ post.author.username }} el {{ post.created_at.strftime('%d-%m-%Y') }}</p>
            <div class="mb-3">
                {% for category in post.categories %}
                <a href="{{ url_for('category_posts', category_id=category.id) }}" class="badge badge-primary">{{ category.name }}</a>
                {% endfor %}
            </div>
            <p class="card-text">{{ post.content|truncate(300) }}</p>
            <a href="{{ url_for('post_detail', post_id=post.id) }}" class="btn btn-primary">Leer más →</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}